#standardDetails {
  .firepad {height: 300px;background-color: $light-beige;}
  .firepad-toolbar {height:42px;}
  .firepad-with-toolbar .CodeMirror {top: 42px;padding-left: 10px;}
  .standardInstructionTextarea {border: 1px solid #c9c9c9;}
}
