/*** Evaluators ***/
.evaluatorFilterBox {padding-top: 10px;}
#evaluator-search-form button{margin-top: 3px;}
.evaluator-assigned-programs:not(:last-child) {border-bottom: 1px solid $light-grey; margin-bottom: 5px; padding-bottom: 5px;}
.empty-schoolsPage-content {text-align: center; padding: 150px 0;}
