/******************* when textbox is expanded - larger height ********************/
.narrativeEditorPanel .narrativeFunctionBox.fullHeightBox {min-height: 575px;}
/* .fullHeightBox .firepad-richtext .CodeMirror {    min-height: 500px;} */
body .fullHeightBox .firepad {
    height: 575px;
  }
