/* sprint 11 - standards */
th.dash-strd-th { width: 40%; }
th.dash-membstg-th { width: 20%; }
th.dash-tmvststg-th { width: 20%; }
th.dash-assnd-th { width: 10%; }
th.dash-sender-th {color:blue;}
.dashSection-standardsGovernance th.dash-std-th { width: 25%;}
