<!-- SCHOOLS STANDARD PAGE -->
<div id="id-compileReportListPage" class="compileReportListPage schoolsPage" data-ng-init="init()" block-ui="programUI">

    <!-- page heading -->
    <div class="pageHead help-table">
        <div class="col">
            <!-- breadcrumbs -->
            <div class="pageBreadcrumbs">
                <nav aria-label="You are here:" role="navigation">
                    <ul class="breadcrumbs">
                        <li>
                            <a data-ng-if="organizationInfoLoaded && !organizationInfo.isAccreditor && !isEvaluatorAtProgram"
                               ui-sref="app.schools({scrollToPos : scrollToPos})">Schools</a>
                            <a data-ng-if="organizationInfoLoaded && (organizationInfo.isAccreditor || isEvaluatorAtProgram)"
                               ui-sref="app.institutions({scrollToPos : scrollToPos})">Institutions</a>
                        </li>
                        <li><a ui-sref="app.school-program({programRequestKey : program.requestKey})">{{program.schoolInfo.name}}</a></li>
                        <li><a ui-sref="app.school-program({programRequestKey : program.requestKey})">{{program.name}}</a></li>

                    </ul>
                </nav>
            </div>
            <!-- end breadcrumbs -->
        </div>
        <div class="text-right col">
            <div class="pagePrintDownload">
                <ul class="pageOptionsUL">
                    <li>
                        <button ng-click="goBack()" type="button" class="closePageButton pageButton">
                            <span class="ion-arrow-left-c"></span>
                            <span>Back</span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end page heading -->
    <div><h2>Report Generator</h2></div>

    <!-- the standard -->
    <div class="standardHeading">
        <h3>{{program.name}}</h3>
    </div>
    <!-- end the standard -->

    <!-- standard page header sticky -->
    <div class="standardsHeaderBox">
        <div class="standardsHeader setClassWhenAtTop" set-class-when-at-top="sticky is-at-top is-stuck">
            <div class="standardsPageHead pageHead help-table">
                <div class="adding-standard-col text-right col">
                    <button type="button" class="button action-secondary small" ui-sref="app.saved-reports-list({ programRequestKey : programRequestKey })">Open Saved
                        Reports
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- end Select Standards table -->

    <!-- end one standard -->


    <!-- ALL USERS CONTAINER -->
    <div class="allUsersBox">
        <!-- one standard -->
        <div class="oneStandardUnit">
            <!-- standard info header -->
            <div class="oneStandardTable-header">
                <div class="standardHeaderTable help-table-33">
                    <div class="standardNameBox col">
                        <h3 class="subheader">Select Standards</h3>
                    </div>
                    <div class="standardOptionsBox col">
                        <!-- prepare report button -->
                        <div class="multipleActions">
                            <ul class="prepareReportUL">
                                <li>
                                    <md-select data-ng-class="{'select-empty': !stagesFilter}" ng-model="stagesFilter" data-ng-change="filterByStageAndOrGroup(stagesFilter, groupFilter)" placeholder="All Stages">
                                        <md-option value="">All Stages</md-option>
                                        <md-option data-ng-repeat="stage in stages" data-ng-value="stage.requestKey" data-ng-bind="stage.name"></md-option>
                                    </md-select>
                                </li>
                                <li>
                                    <md-select data-ng-class="{'select-empty': !groupFilter}" ng-model="groupFilter" data-ng-change="filterByStageAndOrGroup(stagesFilter, groupFilter)" placeholder="All Groups">
                                        <md-option value="">All Groups</md-option>
                                        <md-option data-ng-repeat="group in standardGroups" data-ng-value="group.requestKey" data-ng-bind="group.name"></md-option>
                                    </md-select>
                                </li>
                                <li>
                                    <button type="button" class="button secondary"
                                            data-ng-class="!userCanGenerateReport() ? 'disabled' : String()"
                                            data-ng-disabled="!userCanGenerateReport()"
                                            data-ng-click="prepareReportStep2(stagesFilter)">
                                        <span>Prepare Report</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <!-- prepare report button -->
                    </div>
                </div>
            </div>
            <!-- end standard info header -->
            <!-- standard unit content -->
            <div class="oneStandardUnit-content">
                <table class="oneStandardTable">
                    <thead>
                    <tr>
                        <th class="std-checkbox-th">
                            <dropdown-toggle class="selectCheckBoxesPane" pane-align="left" close-on-click="true">
                                <toggle>
                                    <a class="selectCheckBoxes-th">Select <span
                                            class="ion-android-arrow-dropdown"></span></a>
                                </toggle>
                                <pane class="">
                                    <div class="">
                                        <ul class="selectCheckBoxesUL">
                                            <li><a ng-click="addAllSelected(stagesFilter)"> All</a></li>
                                            <li><a ng-click="removeAllSelected()"> None</a></li>
                                        </ul>
                                    </div>
                                </pane>
                                </dropdown>
                            </dropdown-toggle>
                        </th>
                        <th class="progviewstandard-th"><span>Standard</span></th>
                        <th class="progviewdescription-th"><span>Description</span></th>
                        <th class="progviewstage-th"><span>Current Stage</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="standardsList no-animate"
                        dir-paginate="standard in projects | itemsPerPage: pagination.itemsCount track by $index"
                        pagination-id="myStandardsPagination"
                    >
                        <td>
                            <div class="checkbox">
                              <input data-ng-if="isAvailableForSelectedStage(standard, stagesFilter)" type="checkbox" id="id-stdcheck-{{standard.projectMetaData.id}}" data-ng-model="standard.selected" data-ng-change="addOrRemoveSelectedStandard(standard)">
                                <label for="id-stdcheck-{{standard.projectMetaData.id}}">
                                    <span class="show-for-sr">&nbsp;</span><span>&nbsp;</span>
                                </label>
                            </div>
                        </td>
                        <td> <span class="no-response" data-ng-if="!hasResponseAvailableForSelectedStage(standard, stagesFilter)">[No Response available] </span><span class="no-response" data-ng-if="(organizationInfo.isAccreditor || isEvaluatorAtProgram) && hasResponseAvailableForSelectedStage(standard, stagesFilter) && !isVisibleForSelectedStage(standard, stagesFilter)">[No Visibility] </span>{{standard.projectMetaData.name}}</td>
                        <td>{{standard.projectMetaData.standard.description}}</td>
                        <td>{{getAccessibleStage(standard)}} <span data-ng-if="getAccessibleStage(standard)">Stage</span></td>
                    </tr>
                    </tbody>
                </table>
                <div>
                    <div class="standardOptionsBox col">
                        <!-- prepare report button -->
                        <div class="multipleActions">
                            <ul class="prepareReportUL">
                                <li>
                                    <button type="button" class="button secondary"
                                            data-ng-class="!userCanGenerateReport() ? 'disabled' : String()"
                                            data-ng-disabled="!userCanGenerateReport()"
                                            data-ng-click="prepareReportStep2(stagesFilter)">
                                        <span>Prepare Report</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <!-- prepare report button -->
                    </div>
                </div>
            </div>
            <!-- end standard unit content -->
        </div>
        <!-- end one standard -->

        <!-- PAGINATION -->
        <div class="pagination-table">
            <dir-pagination-controls template-url="/app/templates/accreditorDashboardPagination.html" pagination-id="myStandardsPagination"></dir-pagination-controls>
            <!-- END PAGINATION -->
            <div class="show-all-wrapper">
              <a class="" ng-click="getAllRows()">
                <span data-ng-if="pagination.totalItems > pagination.itemsCount">Show All</span>
                <span data-ng-if="pagination.totalItems == pagination.itemsCount">Show Less</span>
              </a>
            </div>
        </div>
    </div>
    <!-- END ALL USERS CONTAINER -->

</div>

<!-- Modals -->
<!-- MODAL: Confirm Report added to Saved Reports -->
<script type="text/ng-template" id="id-modalReportAdded.html">
    <div class="modal-header">
        <h3>Report Added!</h3>
        <button type="button" class="close-button" aria-label="Close modal" data-ng-click="closeReportAddedModal()">
            <span class="ion-android-close" area-hidden="true"></span></button>
    </div>
    <div class="modal-body">
        <h4>Your report will be added to the Saved Reports list when it is ready to download. We will send an email
            notification to {{currentUser.userData.email}} when it is available.</h4>
    </div>
    <div class="modal-footer">
        <button type="button" class="button action" data-ng-click="closeReportAddedModal()" ui-sref="app.saved-reports-list({ programRequestKey : programRequestKey })">
            Continue
        </button>
    </div>
</script>
<!-- END MODAL: Confirm Report added to Saved Reports -->
