/****** Credentials ******/
a.view-link:not(.button) {cursor: pointer; color: $dark-gold; font-size: 20px; padding: 0 10px;}
a.view-link.active, a.view-link:hover {background: $beige;}

#header-box-right-nav {padding:0; margin:0; list-style-type:none;display: flex;justify-content: flex-end;align-items: center;
  li {margin-left:10px;}
}


#search-input {
  .searchLine {position: relative;
    .search-btn {padding: 0 10px;font-size: 18px;color: $dark-gold;}
  }
  form {display:flex;}
  input {margin: 0;line-height: 26px;border-radius: 3px;}
  button {margin:0;background-color: $beige;text-align: center;width: auto;position: absolute;right: 0;top: 0;bottom: 0;border-radius: 0px 3px 3px 0px;padding: 0.85em 0.5em;}
}

table thead td {background: $light-beige;}
table.credentialsTable {
  th {width:10%;}
}
table.credentialsTable th {width:10%;}
table.credentialsTable th.credentials-degree-th {width:4.5%;}
table.credentialsTable th.credentials-level-th {width:6%;}
table.credentialsTable th.credentials-terminal-th {width:5%;}
td.danger {background: #B91806; color:#fff;}
td.success {background: #9ECC43; color:#fff;}
tr[ng-click] {cursor:pointer;}
tr[ng-click]:hover {background:$light-grey;}

.advancedSearch {height:85px;width:1145px;    width: 1020px; margin:auto;}
ul.advanced-search {display:flex; list-style-type: none;background: $faint-gold;}
ul.advanced-search li {display:flex; flex-direction: column; width:125px;font-size: 14px;text-align: center;border-right: 1px solid #fff;}
ul.advanced-search li .search-header {background-color: $light-beige;color: $dark-grey;}
ul.advanced-search li .search-inner {}
ul.advanced-search li .search-header, ul.advanced-search li .search-inner {padding:2px;}
ul.advanced-search select, ul.advanced-search input {margin: 0;height: 28px;line-height: 20px;padding: 0;text-align: center;font-size: 14px;width: 100%;text-align-last:center;}
ul.advanced-search md-select {margin: 0;height: 28px;line-height: 26px;padding-top: 0; padding-bottom: 0; text-align: center;font-size: 14px;width: 100%;text-align-last:center;}
ul.advanced-search button {height:36px; width:36px; padding:9px; background: $light-beige; border-radius:3px;}
ul.advanced-search button:hover {background-color: #f5f2eb;color: #372a04;box-shadow: $button-shadow;}


.cred_tags a, .cred_tags button {background-color: $light-beige;color: $dark-gold;opacity: 0.5;border-radius: 3px;padding: 4px 15px;font-size: $font-size;font-weight: normal;display: inline-block;line-height: 26px;}
.cred_tags > button {float: left; margin-right: 3px;}
.cred_tags a.active, .cred_tags a:hover, #page_nav_cust li a.active, .controls a.active, #page_nav_cust li a:hover, .controls a:hover,
.cred_tags button.active {opacity: 1;background-color: $light-beige;color: $dark-gold;}
.nFailure {border: none;color: #fff;background: $light-red;box-shadow: 0 1px 2px #fbb5b5 inset, 0 1px 1px #dfdfdf;-webkit-box-shadow: 0 1px 2px #fbb5b5 inset, 0 1px 1px #dfdfdf;-moz-box-shadow: 0 1px 2px #fbb5b5 inset, 0 1px 1px #dfdfdf;}
.nNote {cursor: pointer;margin: 10px 0px 0px 0px;border-radius: 2px;-webkit-border-radius: 2px;-moz-border-radius: 2px;}
.nFailure > p,
.nNote p {text-shadow: none;font-weight: normal;color: $dark-grey;padding: 10px 25px 10px 25px;margin: 0px;text-align: center;}
.contentTop {padding:20px 0;display:flex;justify-content: space-between;align-items: center;}
.pageTitle.grey_text {font-family: 'Rubik', sans-serif;font-size: 38px;line-height: normal;color: $dark-grey;text-rendering: optimizeLegibility;font-weight: $light;margin-top: -10px;}
span.status_verified {color: #3F9C2D;}
span.status_unverified {color: #9E0704;}


.cipCodeContainer {position:relative; cursor:pointer;line-height: 28px;background-color: $light-grey;}
.cipLabelHolder {width: 100%;background: $light-grey;position: absolute;left: 0;}
.cipLabelArrow {position: absolute;right: 8px;}
.cipList {max-height:300px; position:absolute;top: 28px;left: 0;}
.cipList > ul {position:absolute;top: 0px;left: 0;margin-left: 0;background-color: #fff;z-index: 1000; overflow:auto; max-height:300px;}
.cipList > ul > li:not(:first-child) {line-height: 23px;}
.cipList > ul > li:hover {background: $light-beige;}
.cipCode {cursor: pointer;}
/* active   background: $light-grey;  */


#cred_status li {display:inline-block;margin: -1px;line-height: 27px;height: 27px;}
#cred_status li:first-child {margin-right:15px;}
#cred_status .status_block {background: #ccc;width: 78px;text-align: center;color: #bbb;}
#cred_status .status_block.profileCompletion {background: $accreditor-green;color:#fff;}
.degree-table-information thead tr td {overflow: hidden;}

/** Common Components **/
.border_grey {border: 1px solid $light-beige; padding:5px;}
.border_grey table {border: none;}
.bottom-line {border-bottom: 1px solid $light-beige;margin-bottom: 15px;}
.bottom-line:last-child {border:none; margin-bottom:0;}
.oneOfThree {width:33%;}
.small {font-size:80%;}
.documentThumb {height:185px;}
.fileAttachment div {font-size:12px;}


.link, .modalTrigger {cursor: pointer;}

/** Body of Credentials Details **/
.profileImage {border-radius: 50%; height:120px; width:120px;}
.infoSection {display:flex; padding: 7px 0;}
.infoSection > div {padding: 0px 10px;border-right: 1px solid $light-beige;}
.infoSection > div:last-child {border-right:none;}
.infoSection h6 {font-weight: $light; font-size:18px;}
.infoSection ul > li {display:flex;}
.infoSection ul > li div:first-child {width: 135px;margin-right:7px;min-width: 135px;color: $dark-gold;font-weight: $strong;}
.infoSection ul > li div:nth-child(2) {/*Not sure why I had this *//* width:135px; */}
.infoSectionColumn {display:flex; justify-content:flex-start; align-items:center; flex-direction:column; width:175px; padding:0 10px;}
.infoSectionRow {display:flex; justify-content:space-between; align-items: flex-end;}

.careerInformationContainer {padding:15px;}
.sub-section {margin: 0 20px;padding: 15px 0;border-bottom: 1px solid #dbdbdb;font-size: 14px;}
.sub-section:last-child {border:none;}
.sub-section h4 {font-size: $font-size;color: $grey;}
h2.section_header {font-size:22px;display: flex;justify-content: space-between;/* align-items: flex-end; */}

.section_header ul {list-style-type: none;}

.cipCodes-ul {margin: 0;padding: 0;width: 100%;}
.cipCodes-ul li,.cipCodes-ul li:last-child {background: $faint-gold;color: $dark-grey;border-top-width: 0;border-bottom-width: 1px;height: 40px;padding: 9px;text-align: center;border-top: 1px;border-color: $plain-white;border-style: solid;align-items: center;justify-content: center;}
.cipCodes-ul li.active {background: $dark-beige; color: #fff;}

.academicCourseYearList {font-size:14px;margin:0;}
.academicCourseYearList li {margin:0 0 0 5px;}
