/***************************** FONTS *****************************/
// .alert-text {color: $dark-red;}
.alert-text {color: $red;}
.warning-text {color: $gold;}
.info-text {color: $school-blue;}
.success-text {color: $accreditor-dark-green;}
