/***************************** VARIABLES *****************************/

/*** Typography ***/
$font-family : 'Catamaran', sans-serif;
$header-font-family : 'Rubik', sans-serif;

$light: 300;
$regular: 400;
$strong: 500;
$semiBold: 600;
$bold: 700;

$font-size: 16px;
$font-size-accordionTitle: 17px;

/*** Widths ***/
$tableWidthMax: 1620px;
$pageViewWidthMax: 1800px;
