.group-name-th .checkbox {margin: 0;}
.group-name-th .checkbox label {font-weight: 700;}
.group-name-th {width: 20%;}
.group-projects-th, .user-group-th {width: 40%;}
.group-management-table .checkbox {margin: 0;}
.group-management-table .checkbox > label{vertical-align: bottom;}
