/*** Credentials Report ***/
.input.faculty-filter {margin: 1.5em 0;}
.courses-filters .input {margin-top: 0}
table#credentials-report-table p {margin-bottom: 5px; padding-bottom: 5px; border-bottom: 1px solid $light-grey;}
#credentials-report-table th {width: 20%;}
#credentials-report-table th.cr-term, #credentials-report-table th.cr-compliance {width: 5%;}
