/****Saved Reports ***/
#id-assessmentSavedReports .pageHead button{margin: 10px 0 0;}
.layoutContent #id-assessmentSavedReports .pageHead {margin: 5px 0 0;}
.savedReportsTable .saved-reports-date-th {width: 120px;}
.savedReportsTable .saved-reports-compiled-by-th {width: 15%;}
.saved-reports-actions-th {width: 40px;}
.saved-reports-title-th {width: 35%;}
